<nav class="navegador">
    <ul class="apartados">
        <li>
            <a class="boton-nav" href="/">INICIO</a>
        </li>
        <li>
            <a class="boton-nav" href="/marcas">MARCAS</a>
        </li>
        <li>
            <a class="boton-nav" href="/coches">COCHES</a>
        </li>
        <li>
            <a class="boton-nav" href="/contactanos">CONTACTANOS</a>
        </li>
         <li>
            <a class="boton-nav" href="/about">NOSOTROS</a>
         </li>
    </ul>
</nav>