<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <%- include('partials/icon.ejs'); %>
    <meta charset="UTF-8">
    <title>About - Amantes de Coches</title>
</head>
<body>

<!--Barra de navegación-->
<header>
    <%- include('partials/navbar'); %>
</header>

<h3 style="text-align: center"><%= title %></h3>

<div class="contenedor-nosotros">
    <div class="informacion">
        <p>Me llamo <b>Joel Agustin Gonzales Omonte</b><br>
            A través de mi perspectiva, busco compartir mi entusiasmo y conocimientos para inspirar a otros amantes de los coches.  Esta plataforma es el resultado de mi interés y dedicación por aprender sobre proyectos como la creación de una página web dedicada al apasionante mundo de los automóviles. Aquí, busco ofrecer contenido que no solo informe, sino que también enriquezca la conexión de los entusiastas con el fascinante universo automotriz. Trabajo constantemente para mejorar la experiencia del usuario, ya que valoro la retroalimentación y las sugerencias de la comunidad. Este proyecto es una oportunidad para explorar y compartir conocimientos, y tu participación es clave en la evolución continua de esta plataforma. Únete a esta comunidad que aprecia el aprendizaje y la pasión por los coches, donde cada interacción contribuye al crecimiento y mejora de la experiencia para todos.</p>
    </div>
    <div class="informacion">
        <p>Bienvenido a nuestra plataforma dedicada a todos los entusiastas del automovilismo. Nos esforzamos por ser tu destino principal para información exhaustiva sobre diversas marcas de coches. Nuestra misión es ofrecer contenido apasionante y relevante que no solo informa, sino que también enciende la llama de la admiración por el diseño automotriz y la ingeniería innovadora. Únete a nosotros en este emocionante viaje donde cada página está repleta de detalles que cautivarán a los amantes de los coches y despertarán la curiosidad de aquellos que buscan descubrir la magia que hay detrás de cada vehículo.</p>
    </div>
    <div>


    </div>
</div>

<%- include('partials/footer'); %>
</body>
</html>